/.vs
/SmartPointers/Debug
/SmartPointerTests/Debug
/Debug
/SmartPointers/x64/Debug
/SmartPointerTests/x64/Debug
/Release
/EducationLibs/Algorithms/Debug
/EducationLibs/Algorithms/Release
/EducationLibs/Algorithms/x64/Debug
/EducationLibs/SmartPointers/Debug
/EducationLibs/SmartPointers/Release
/EducationLibs/SmartPointers/x64/Debug
/EducationLibs/Threads/Debug
/EducationLibs/Threads/Release
/EducationLibs/Threads/x64/Debug
/EducationLibs/Threads/threads.vcxproj.user
/Tests/tests_algrithms/Debug
/Tests/tests_algrithms/Release
/Tests/tests_algrithms/x64/Debug
*.user
/Tests/tests_smart_pointers/Debug
/x64/Debug
*.filters
/EducationLibs/Containers/Debug
/Tests/tests_containers/Debug
/EducationLibs/Templates/Templates/Debug
/Tests/tests_templates/tests_templates/Debug
/EducationLibs/Containers/Release/Containers.vcxproj.FileListAbsolute.txt
/EducationLibs/Containers/Release/Containers.tlog/Containers.lastbuildstate
/EducationLibs/Containers/Release/Containers.log
/EducationLibs/Containers/Release/Containers.lib.recipe
/EducationLibs/Containers/Release/Containers.Build.CppClean.log
/EducationLibs/Patterns/Release/Patterns.tlog/Patterns.lastbuildstate
/EducationLibs/Patterns/Release/Patterns.tlog/Lib.command.1.tlog
/EducationLibs/Patterns/Release/Patterns.tlog/Lib-link.write.1.tlog
/EducationLibs/Patterns/Release/Patterns.tlog/Lib-link.read.1.tlog
/EducationLibs/Patterns/Release/Patterns.tlog/CL.write.1.tlog
/EducationLibs/Patterns/Release/Patterns.tlog/CL.read.1.tlog
/EducationLibs/Patterns/Release/Patterns.tlog/CL.command.1.tlog
/EducationLibs/Patterns/Release/Singleton.obj
/EducationLibs/Patterns/Release/Patterns.vcxproj.FileListAbsolute.txt
/EducationLibs/Patterns/Release/Patterns.log
/EducationLibs/Patterns/Release/Patterns.lib.recipe
/EducationLibs/Patterns/Release/Patterns.Build.CppClean.log
/Tests/tests_containers/Release/vc142.pdb
/Tests/tests_containers/Release/test_containers.vcxproj.FileListAbsolute.txt
/Tests/tests_containers/Release/test_containers.tlog/test_containers.write.1u.tlog
/Tests/tests_containers/Release/test_containers.tlog/test_containers.lastbuildstate
/Tests/tests_containers/Release/test_containers.tlog/link.write.1.tlog
/Tests/tests_containers/Release/test_containers.tlog/link.read.1.tlog
/Tests/tests_containers/Release/test_containers.tlog/link.command.1.tlog
/Tests/tests_containers/Release/test_containers.tlog/CL.write.1.tlog
/Tests/tests_containers/Release/test_containers.tlog/CL.read.1.tlog
/Tests/tests_containers/Release/test_containers.tlog/CL.command.1.tlog
/Tests/tests_containers/Release/test_containers.log
/Tests/tests_containers/Release/test_containers.dll.recipe
/Tests/tests_containers/Release/test_containers.Build.CppClean.log
/Tests/tests_containers/Release/ContainersTests.obj
/Tests/tests_patterns/Release
/Tests/tests_smart_pointers/Release
/Tests/tests_templates/tests_templates/Release
/Tests/tests_templates/tests_templates/x64/Debug
