/.vs
/SmartPointers/Debug
/SmartPointerTests/Debug
/Debug
/SmartPointers/x64/Debug
/SmartPointerTests/x64/Debug
/Release
/EducationLibs/Algorithms/Debug
/EducationLibs/Algorithms/Release
/EducationLibs/Algorithms/x64/Debug
/EducationLibs/SmartPointers/Debug
/EducationLibs/SmartPointers/Release
/EducationLibs/SmartPointers/x64/Debug
/EducationLibs/Threads/Debug
/EducationLibs/Threads/Release
/EducationLibs/Threads/x64/Debug
/EducationLibs/Threads/threads.vcxproj.user
/Tests/tests_algrithms/Debug
/Tests/tests_algrithms/Release
/Tests/tests_algrithms/x64/Debug
*.user
/Tests/tests_smart_pointers/Debug
/x64/Debug
*.filters
/EducationLibs/Containers/Debug
/Tests/tests_containers/Debug
/EducationLibs/Templates/Templates/Debug
/Tests/tests_templates/tests_templates/Debug
